@import '../default-vs-onpush-shared.scss';

mat-card {
  --flash-color: #e91e63;
  --flash-shadow: rgba(233, 30, 99, 0.6);
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.counter-group {
  p {
    margin: 0;
  }
}
