@use '../default-vs-onpush-shared.scss' as *;

mat-card {
  --flash-color: #e91e63;
  --flash-shadow: rgba(233, 30, 99, 0.6);
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.counter-group {
  p {
    margin: 0;
  }
}

.flash {
  background-color: #e91e63;
  transform: scale(1.02);
  box-shadow: 0;
}
