:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

h3 {
  margin: 0 0 8px;
}

p {
  flex: 1;
  margin: 0 0 16px;
  line-height: 1.5;
}

mat-card-actions {
  padding-top: 0;
  justify-content: flex-end;
}
