@import '../default-vs-onpush-shared.scss';

mat-card {
  --flash-color: #4caf50;
  --flash-shadow: rgba(76, 175, 80, 0.6);
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.counter-group {
  p {
    margin: 0;
  }
}
