@use '../default-vs-onpush-shared.scss' as *;

mat-card {
  --flash-color: #2196f3;
  --flash-shadow: rgba(33, 150, 243, 0.6);
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.counter-group {
  p {
    margin: 0;
  }
}
